
{{#each albumsResult}}  
    <div class="divAlbums"> 
        <h2> {{name}}</h2>
        <img class="imgAlbum" src="{{images.[1].url}}" alt="">               
        <a href="/tracks/{{id}}"><button type="submit">Show songs</button></a>             
    </div>        
{{/each}}
  
      
       




