
<section class="indexSecction">
    <h1 class="artistH1">{{result.name}}</h1>
    <img class="artistImg" src=" {{result.images.[0].url}} " alt="">
    <a href="/albums/{{result.id}}"><button class="artistButton" type="submit" name="hola">Show albums</button></a>        
</section>
