
    <section class="indexSecction">
        <h1 class="artistH1">Find your artist</h1>
            <form action="/artist-search" method="get">
                <input class="indexInput" type="text" name="text" placeholder="Input item">
                <button class="indexButton" type="submit">Search</button>
            </form>  
    </section>

